In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('titanic_train.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
# 891個のデータと12個の特徴量があることを確認。
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [4]:
# 欠損値を埋める
df['Age'] = df['Age'].fillna(df['Age'].mean())
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])

df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [6]:
# 予測用データ
x = df.drop(columns=['PassengerId','Survived','Name','Ticket','Cabin'])

# 正解データ
y = df['Survived']

In [7]:
x.head()

   Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0       3    male  22.0      1      0   7.2500        S
1       1  female  38.0      1      0  71.2833        C
2       3  female  26.0      0      0   7.9250        S
3       1  female  35.0      1      0  53.1000        S
4       3    male  35.0      0      0   8.0500        S

In [8]:
# 文字列のカテゴリーデータを数値に変換する

from sklearn.preprocessing import LabelEncoder

In [9]:
cat_features = ['Sex','Embarked']

for col in cat_features:
    lbl = LabelEncoder()
    x[col] = lbl.fit_transform(list(df[col].values))

x.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked
0       3    1  22.0      1      0   7.2500         2
1       1    0  38.0      1      0  71.2833         0
2       3    0  26.0      0      0   7.9250         2
3       1    0  35.0      1      0  53.1000         2
4       3    1  35.0      0      0   8.0500         2

In [10]:
#9 SVC
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

In [11]:
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0)

# SVC学習実行
svm = SVC().fit(x_train,y_train)

# 正解率
svm.score(x_test,y_test)

0.7219730941704036

In [12]:
# スケーリング対象となり得るか、データを確認してみる

# カテゴリーなデータであることがわかる
x['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [13]:
# カテゴリーなデータであることがわかる
x['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [14]:
# スケーリング実施
# 連続的な値であるAgeとFareにStandardScalerを実施

from sklearn.preprocessing import StandardScaler

In [15]:
num_features = ['Age','Fare']
for col in num_features:
    scaler = StandardScaler()
    x[col] = scaler.fit_transform(np.array(df[col].values).reshape(-1,1))

# 平均0, 分散1のデータにスケーリング
x.head()

   Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0       3    1 -0.592481      1      0 -0.502445         2
1       1    0  0.638789      1      0  0.786845         0
2       3    0 -0.284663      0      0 -0.488854         2
3       1    0  0.407926      1      0  0.420730         2
4       3    1  0.407926      0      0 -0.486337         2

In [16]:
# ダミー変数を用意
# 数値1,2,3を用いると1<2<3の情報も含まれてしまうので、分類データをダミー変数化することで分類として情報を用意する。
x = pd.get_dummies(x,columns=['Pclass','SibSp','Embarked'])

x.head()

,Sex,Age,Parch,Fare,Pclass_1,Pclass_2,Pclass_3,SibSp_0,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,SibSp_8,Embarked_0,Embarked_1,Embarked_2
0,1,-0.592481,0,-0.502445,0,0,1,0,1,0,0,0,0,0,0,0,1
1,0,0.638789,0,0.786845,1,0,0,0,1,0,0,0,0,0,1,0,0
2,0,-0.284663,0,-0.488854,0,0,1,1,0,0,0,0,0,0,0,0,1
3,0,0.407926,0,0.420730,1,0,0,0,1,0,0,0,0,0,0,0,1
4,1,0.407926,0,-0.486337,0,0,1,1,0,0,0,0,0,0,0,0,1

In [17]:
# drop_first=Trueの効果を確認する言うのデータを生成
x_drop = df.drop(columns=['PassengerId','Survived','Name','Ticket','Cabin'])

# カテゴリーを数値化
cat_features = ['Sex','Embarked']
for col in cat_features:
    lbl = LabelEncoder()
    x_drop[col] = lbl.fit_transform(list(df[col].values))

# 平均0, 分散1のデータにスケーリング
num_features = ['Age','Fare']
for col in num_features:
    scaler = StandardScaler()
    x_drop[col] = scaler.fit_transform(np.array(df[col].values).reshape(-1,1))
    
# drop_first=Trueと設定するとダミー変数が1つ減る。＝多重共線性。
x_drop = pd.get_dummies(x_drop,columns=['Pclass','SibSp','Embarked'], drop_first=True)

x_drop.head()

,Sex,Age,Parch,Fare,Pclass_2,Pclass_3,SibSp_1,SibSp_2,SibSp_3,SibSp_4,SibSp_5,SibSp_8,Embarked_1,Embarked_2
0,1,-0.592481,0,-0.502445,0,1,1,0,0,0,0,0,0,1
1,0,0.638789,0,0.786845,0,0,1,0,0,0,0,0,0,0
2,0,-0.284663,0,-0.488854,0,1,0,0,0,0,0,0,0,1
3,0,0.407926,0,0.420730,0,0,1,0,0,0,0,0,0,1
4,1,0.407926,0,-0.486337,0,1,0,0,0,0,0,0,0,1

In [18]:
# スケーリングしたデータを再度学習をしてみる
x_train,x_test,y_train,y_test = train_test_split(x,y,random_state=0)

svm = SVC().fit(x_train,y_train)

svm.score(x_test,y_test)

0.8071748878923767

In [19]:
# drop_first=Trueでスケーリングしたデータを再度学習をしてみる
x_drop_train,x_drop_test,y_drop_train,y_drop_test = train_test_split(x_drop,y,random_state=0)

svm_drop = SVC().fit(x_drop_train,y_drop_train)

svm_drop.score(x_drop_test,y_drop_test)

0.8026905829596412

In [20]:
# SVCの学習パラメータ調整してみる

# ペナルティ項 Cをいじってみる、デフォルトは１
svm = SVC(C=10).fit(x_train,y_train)
svm.score(x_test,y_test)

0.820627802690583

In [21]:
svm = SVC(C=100).fit(x_train,y_train)
svm.score(x_test,y_test)

0.7847533632286996

In [22]:
# Cのパラメータを振ってみる

best_score = 0
for C in [1,10,100,1000,10000]:
    svm = SVC(C=C).fit(x_train,y_train)
    
    # 本来、テストデータをパラメータ調整に利用するのはよろしくない。->検証用のデータを用意する必要がある。
    score = svm.score(x_test,y_test)
    if score > best_score:
        best_score = score
        best_parameter = C

print(best_parameter)
print(best_score)

10
0.820627802690583

In [23]:
# 新たに検証用データセットを作成
x_train_,x_validation,y_train_,y_validation = train_test_split(x_train,y_train,random_state=0)

In [24]:
best_score = 0
for C in [1,10,100,1000,10000]:
    svm = SVC(C=C).fit(x_train_,y_train_)
    score = svm.score(x_validation,y_validation)
    if score > best_score:
        best_score = score
        best_parameter = C
        
# 再訓練 (グリッドサーチ手法)
svm_best = SVC(C=best_parameter).fit(x_train,y_train)
svm_best.score(x_test,y_test)

0.8071748878923767

In [25]:
# 上記のグリッドサーチ処理をsklearnライブラリ内で容易に行える。
from sklearn.model_selection import GridSearchCV

In [26]:
param = {
'C':[0.01,0.1,1,10,100]
}

# GridSearchCV(学習モデル,param_grid=調整するパラメータオブジェクト,cv=交差検証回数)
grid_search = GridSearchCV(SVC(),param_grid=param,cv=5)
grid_search.fit(x_train,y_train)

grid_search.best_params_

{'C': 1}

In [28]:
grid_search.score(x_test,y_test)

0.8071748878923767

In [29]:
# 元データも交差検証する
from sklearn.model_selection import cross_val_score

In [32]:
scores = cross_val_score(GridSearchCV(SVC(),param_grid=param,cv=5),x,y,cv=5)
print(scores)

[0.80446927 0.82022472 0.80337079 0.78651685 0.86516854]

In [33]:
scores.mean()

0.8159500345238844